Repository brycelelbach/nsightful: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, mypy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: system
        args: [--line-length=100, --target-version=py38]
        types: [python]

      - id: flake8
        name: flake8
        entry: flake8
        language: system
        args: [
          "--select=E9,F63,F7,F82",
          "--max-line-length=100",
          "--max-complexity=10"
        ]
        types: [python]

      - id: mypy
        name: mypy
        entry: mypy
        language: system
        args: [--ignore-missing-imports]
        files: ^src/.*\.py$
        types: [python]

Prevent hang when running in nbclient or other non-interactive environments.
  src/nsightful/notebook.py
Due: black, flake8, mypy

Fix notebook tests by enabling widgets via environment variable in CI.
  .github/workflows/test.yml
  tests/test_notebook.py
Due: black, flake8

Add tests for both widget and simple markdown display paths.
  .github/workflows/test.yml
  tests/test_notebook.py
Due: black, flake8

is_interactive_notebook: Import ipywidgets before checking for a comm manager with widget support.
  src/nsightful/notebook.py
Due: black, flake8, mypy

is_interactive_notebook: Don't use deprecated if the newer is available.
  src/nsightful/notebook.py
Due: black, flake8, mypy

Update GitHub workflow configuration to run on branches/PRs.
  .github/workflows/test.yml
Due: none

Run pre-commit with new versions of linting tools.
  src/nsightful/ncu.py
  src/nsightful/notebook.py
  tests/conftest.py
Due: black, flake8, mypy

Drop Python 3.8 and 3.9 support; reformat with black 26.1.0.
  .github/workflows/test.yml
  .pre-commit-config.yaml
  README.md
  pyproject.toml
  tests/test_nsys.py
Due: black, flake8

is_interactive_notebook: Don't use deprecated `_parent_header` if the newer `get_parent` is available.
  src/nsightful/notebook.py
Due: black, flake8, mypy

is_interactive_notebook: Use kernel._allow_stdin to detect nbclient; add nbclient execution test.
  src/nsightful/notebook.py
  tests/test_notebook.py
Due: black, flake8, mypy
